@charset "utf-8";

.profile-object1 img{
    margin-bottom: 220px;
}

.profile-main{
    position: relative;
    display: flex;
    justify-content: center;
}

.profile-main img{
    max-width: 900px;
    width: 100%;
}

.profile-txist{
    position: absolute;
    z-index: 1;
    top: 50%;
    padding: 0 300px;
}

.profile-txist p{
    line-height: 1.56;
}

.profile-txist h2{
    font-size: 43px;
    font-family: "myfont","sans-s";
    color: #683c40;
}

.profile-object2 img{
    position: relative;
    width: 100%;
    display: block;
    margin-top: 100px;
    z-index: 10;
}

.works01-footer{
    position: absolute;
    z-index: 11;
    top: 410%;
}

