@charset "utf-8";

@font-face {
    font-family: "myfont"; 
    src: url("../font/Icing\ soda2_濃.ttf") format("truetype");
    font-display: swap; 
  }

body{
    background-color: #f9f7e4;
}

.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
   
}


.logo{
    width: 150px;
    margin-left: 30px;
    margin-top: 25px;
}

.header_nav ul{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 27px;
    
}

.hamburger{
    width: 170px;
}
.header_nav a{
    color: #683c40;
    font-size: 20px;
    font-weight: bold;
    font-family:"筑紫A丸ゴシック"
}
.fv{
    aspect-ratio: 1441 / 1208;
    height: 100%;
}

.fv img{
    position: absolute;
    z-index: -1;
    width: 100%;
    aspect-ratio: 1441 / 1208;
}
.main-visual{
    max-width: 1000px;
    width:80%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.key1,.key2,.key3,.key4,.key5{
    position: absolute;
}

.key1{
   top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    max-width: 1000px;
    width: 80%;
    margin: 0 auto;
    z-index: 10;
}

.key1_sec {
    top: 50%;
    z-index: 99999;
    width: 100%;
}

.key2{
   width: 48%;
    right: 5%;
    top: 16%;
}

.key3{
    left: 10%;
    bottom: 18%;
    width: 45%;
}

.key4{
    width: 39%;
    left: 0%;
    top: 22%;
    z-index: 11;
}

.key5{
    width: 42%;
    right: -10%;
    bottom: 25%;
    z-index: 11;
}


@media screen and (min-width: 1200px){
    .fv{
        height: 1592px;
    }
    .fv img{
        height: 1592px;
        aspect-ratio: auto;
        object-fit: cover;
        object-position: bottom;
        }

        .key2{
            top: 330px;
        }

        .key3{
            bottom: 500px;
        }
        .key4{
            top: 470px;
        }
        .key5{
            bottom: 440px;
        }
    }

    