@charset "utf-8";

.contact-footer{
    margin-top: 10px;
}

.thanks-text{
    font-size: 40px;
    font-weight: 400;
    margin: 0 auto;
    text-align: center;
    padding:100px 0;
}

.thanks-text p{
    line-height: 1.56;
}