@charset "utf-8";



.thanks-area{
    display: flex;
    justify-content: center;
}

.thanks-area img{
    width: 80%;
    margin-top: 10%;
    border-radius: 40px;
}

@media screen and (max-width: 700px) {
.thanks-footer-container{
    margin-top: -100px;
}
}




