@charset "utf-8";

body{
    background-color: #f9f7e4;
}

.sub-fv{
    aspect-ratio: auto;
    position: relative;
    height: auto;       
}

.sub-fv img{
    width: 100%;
    display: block;
}


.midashi{
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
}

@font-face {
    font-family: "myfont"; 
    src: url("../font/Icing\ soda2_濃.ttf") format("truetype");
    font-display: swap; 
  }

.midashi h1{
    display: flex;
    justify-content: center;
    color: #683c40;
    font-weight: bold;
    font-family:"myfont",sans-serif; 
    font-size: 82px;
}

.midashi p{
    display: flex;
    justify-content: center;
    margin-top: -5px;
    color: #683c40;
    font-weight: bold;
    font-family:"myfont",sans-serif; 
    font-size: 46px;
}


.works-menu ul{
    display: flex;
    margin-top: 90px;
    margin-bottom: 90px;
    gap: 75px;
    justify-content: center;
}


  .works-menu a{
    font-size: 41px;
    font-family: "myfont",sans-serif; 
    color: #683c40;
  }

.works-all{
    display: grid;
    max-width: 1180px;
    grid-template-columns: repeat(3, 1fr);
    gap: 2%;
    margin: 0 auto;
}

.works-all div{
    margin: 0 10px 0;
}

.work-name{
    color: #683c40;
    font-size: 22px;
    font-weight: bold;
    font-family:"筑紫A丸ゴシック",sans-serif; 
}

.explain{
    color: #683c40;
    font-size: 17px;
    font-weight: normal;
    font-family:"筑紫A丸ゴシック",sans-serif; 
    padding-right: 25px;
    padding-top: 10px;
    line-height: 1.60;
}

.works-all ul{
    padding: 10px 0px 15px 40px;
}

.works-botan{
    display: flex;
    justify-content: center;
    gap: 1%;
    align-items: center;
    margin-top: 110px;
}

.botan{
    width: 50px;
    height: 70px;
}

.move-botan{
    width: 8px;
    height: 17px;
}

.back-peaper{
    position: absolute;
    margin-top: -770px;
    z-index: -1;
    width: 100%;
    height: 1100px;
}

.back-peaper img{
    object-fit: cover;
    object-position: bottom;
    height: 100%;
}



.peaper img{
    position: absolute;
    z-index: -2;
    margin: 0 auto;
    margin-top: -100px;
}

.contact {
    position: absolute;
    z-index: 1;
    transform: translate(-50%, -50%);
    width: 60%;
    margin-top: 300px;
    left: 50%;
}



.contact-txist{
    position: absolute;
    z-index: 9;
    color: #683c40;
    font-size: 14px;
    font-weight: normal;
    font-family:"筑紫A丸ゴシック",sans-serif; 
    
}

.footer{

    margin-top: 700px;
}

.footer-nav ul{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: -120px;
    
}

.footer-nav a{
    color: #683c40;
    font-size: 20px;
    font-weight: bold;
    font-family:"筑紫A丸ゴシック",sans-serif; 
}





