@charset "utf-8";

body{
    background-color: #f9f7e4;
}

.web-main h2,.web-main img,.text2,.explain,.tittle,.another-works1,.another-midashi,.more-botan{
    display: flex;
    justify-content: center;
}
.web-main h2{
    margin-top: 95px;
    margin-bottom: 95px;
}

.web-main img{
    margin: 0 auto;
    max-width: 900px;
    width: 80%;
    margin-bottom:55px;
}

.tittle{
    max-width: 900px;
    width: 80%;
    gap: 50px;
    margin: 0 auto;
}

.box {
  display: flex;
  flex-direction: column; /* 子要素を縦に並べる */
  align-items: center;    /* 水平方向の中央揃え */
  text-align: center;     /* pタグ内のテキストも中央に寄せる場合 */
  gap: 20px;
}

.job-card {
  width: 180px; 
  height: 45px; 
  background-color: #96a147;

  /* 2. 中の文字を上下左右の真ん中に配置する */
  display: flex;
  justify-content: center; /* 左右の真ん中 */
  align-items: center;     /* 上下の真ん中 */
  
  
  /* 角丸の基本設定（左側を大きく、右下も丸く） */
  border-radius: 20px 0 20px 20px;

  /* ★ここがポイント：右上の凹みを作る */
  --mask: radial-gradient(20px at 100% 0, #0000 98%, #000);
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.line{
    display: flex;
    justify-content: center;
    max-width: 1000px;
    width: 60%;
    border: none;       
    border-top: 1px solid #f2e9a5; 
    margin: 42px auto;    
}

.explain{
    margin: 0 auto;
    padding:0 27%;
    margin-bottom: 160px;
}

.explain p{
    line-height: 1.57;
}

.another-midashi{
    margin: 0 auto;
    max-width: 800px;
    width: 30%;
    margin-bottom: 70px;
}
.another-works01{
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2%;
}

.works01-name{
    color: #683c40;
    font-size: 22px;
    font-weight: bold;
    font-family:"筑紫A丸ゴシック",sans-serif; 
}

.works01-explain{
    color: #683c40;
    font-size: 17px;
    font-weight: normal;
    font-family:"筑紫A丸ゴシック",sans-serif; 
    padding-right: 25px;
    padding-top: 10px;
    line-height: 1.60;
}

.another-works01 ul{
    padding-left: 25px;
}

.another-works01 div{
    margin: 0 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.more-botan{
    width: 180px; 
    height: 45px; 
    background-color: #96a147;

    /* 2. 中の文字を上下左右の真ん中に配置する */
    display: flex;
    justify-content: center; /* 左右の真ん中 */
    align-items: center;     /* 上下の真ん中 */
    
    
    /* 角丸の基本設定（左側を大きく、右下も丸く） */
    border-radius: 20px;
    margin: 90px auto 0;
}

.works01-contact {
    position: absolute;
    z-index: 1;
    transform: translate(-50%, -50%);
    width: 60%;
    margin-top: 350px;
    left: 50%;
}

.works01-contact img{
    position: relative;
}

.contact-txist{
    position: absolute;
    bottom: 25%;
    left: 6%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    line-height: 1.56;
}

.contact-push-botan{
    width: 180px; 
    height: 45px; 
    background-color: #f9f7e4;
    border: 1px solid #683c40;
    border-radius: 24px;     /* 角を丸くすることも可能 */

    /* 2. 中の文字を上下左右の真ん中に配置する */
    display: flex;
    justify-content: center; /* 左右の真ん中 */
    align-items: center;     /* 上下の真ん中 */
    
    
    /* 角丸の基本設定（左側を大きく、右下も丸く） */
    border-radius: 24px;
}

.works01-footer img{
    margin-top: 70px;
}



.footer-nav ul{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: -120px;
    
}

.footer-nav a{
    color: #683c40;
    font-size: 20px;
    font-weight: bold;
    font-family:"筑紫A丸ゴシック",sans-serif; 
}
