@charset "utf-8";

body{
    background-color: #f9f7e4;
}

.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
   
}


.logo{
    width: 150px;
    margin-left: 30px;
    margin-top: 25px;
}

.header_nav ul{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 27px;
    
}

.hamburger{
    width: 170px;
}
.header_nav a{
    color: #683c40;
    font-size: 20px;
    font-weight: bold;
    font-family:"筑紫A丸ゴシック",sans-serif; 
}
.fv{
    aspect-ratio: 1441 / 1208;
    height: 100%;
}

.fv img{
    position: absolute;
    z-index: -1;
    width: 100%;
    aspect-ratio: 1441 / 1208;
}


.works-menu ul{
    display: flex;
    margin-top: 90px;
    margin-bottom: 90px;
    gap: 75px;
    justify-content: center;
}

@font-face {
    font-family: "myfont"; 
    src: url("../font/Icing\ soda2_濃.ttf") format("truetype");
    font-display: swap; 
  }
  .works-menu a{
    font-size: 41px;
    font-family: "myfont",sans-serif; 
    color: #683c40;
  }

.works-all{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2%;
    padding-left: 15%;
    padding-right: 15%;
}

.works-all div{
    margin: 0 10px 0;
}

.work-name{
    color: #683c40;
    font-size: 22px;
    font-weight: bold;
    font-family:"筑紫A丸ゴシック",sans-serif; 
}

.explain{
    color: #683c40;
    font-size: 17px;
    font-weight: normal;
    font-family:"筑紫A丸ゴシック",sans-serif; 
    padding-right: 25px;
    padding-top: 10px;
    line-height: 1.60;
}

.works-all ul{
    padding: 10px 0px 15px 40px;
}

.works-botan{
    display: flex;
    justify-content: center;
    gap: 1%;
    align-items: center;
    margin-top: 110px;
}

.botan{
    width: 50px;
    height: 70px;
}

.move-botan{
    width: 8px;
    height: 17px;
}

.back-peaper{
    position: absolute;
    margin-top: -770px;
    z-index: -1;
}
.peaper img{
    position: absolute;
    z-index: -2;
    margin: 0 auto;
    margin-top: -100px;
}

.contact{
    position: absolute;
    z-index: 1;
    transform: translate(-50,-50);
    width: 60%;
    margin-top: 300px;


}



.contact-txist{
    position: absolute;
    z-index: 9;
    color: #683c40;
    font-size: 14px;
    font-weight: normal;
    font-family:"筑紫A丸ゴシック",sans-serif; 
    
}

.footer{
    position: absolute;
    z-index: 12;
    margin-top: 700px;
}

.footer-nav ul{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: -120px;
    
}

.footer-nav a{
    color: #683c40;
    font-size: 20px;
    font-weight: bold;
    font-family:"筑紫A丸ゴシック",sans-serif; 
}





