@charset "utf-8";

body{
    background-color: #f9f7e4;
}

.fv{
  position: relative;   
  height: auto;       
}

.fv img{
    width: 100%;
    display: block;
}


.midashi{
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
}

@font-face {
    font-family: "myfont"; 
    src: url("../font/Icing\ soda2_濃.ttf") format("truetype");
    font-display: swap; 
  }

.midashi h1{
    display: flex;
    justify-content: center;
    color: #683c40;
    font-weight: bold;
    font-family:"myfont",sans-serif; 
    font-size: 82px;
}

.midashi p{
    display: flex;
    justify-content: center;
    margin-top: -5px;
    color: #683c40;
    font-weight: bold;
    font-family:"myfont",sans-serif; 
    font-size: 46px;
}


.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
   
}


.logo{
    width: 150px;
    margin-left: 30px;
}

.header_nav ul{
    display: flex;
    justify-content: center;
    gap: 100px;
    
}

.hamburger{
    width: 170px;
}
.header_nav a{
    color: #683c40;
    font-size: 20px;
    font-weight: bold;
    font-family:"筑紫A丸ゴシック",sans-serif; 
}

.web-main h2,.web-main img,.text2,.explain,.tittle{
    display: flex;
    justify-content: center;
}
.web-main h2{
    margin-top: 95px;
    margin-bottom: 95px;
}

.web-main img{
    margin: 0 auto;
    width: 50%;
    margin-bottom:55px;
}



.job-card {
  width: 180px; 
  height: 45px; 
  background-color: #96a147;

  /* 2. 中の文字を上下左右の真ん中に配置する */
  display: flex;
  justify-content: center; /* 左右の真ん中 */
  align-items: center;     /* 上下の真ん中 */
  gap: 15px;
  
  /* 角丸の基本設定（左側を大きく、右下も丸く） */
  border-radius: 20px 0 20px 20px;

  /* ★ここがポイント：右上の凹みを作る */
  --mask: radial-gradient(20px at 100% 0, #0000 98%, #000);
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.line{
    display: flex;
    justify-content: center;
    max-width: 1000px;
    width: 60%;
    border: none;       
    border-top: 1px solid #f2e9a5; 
    margin: 42px auto;    
}

.explain{
    margin: 0 auto;
    padding:0 30%;
    margin-bottom: 160px;
}

.explain p{
    line-height: 1.57;
}


