@charset "utf-8";

body{
    background-color: #f9f7e4;
}

.fv{
  position: relative;   
  height: auto;       
}

.fv img{
    width: 100%;
    display: block;
}


.midashi{
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
}

@font-face {
    font-family: "myfont"; 
    src: url("../font/Icing\ soda2_濃.ttf") format("truetype");
    font-display: swap; 
  }

.midashi h1{
    display: flex;
    justify-content: center;
    color: #683c40;
    font-weight: bold;
    font-family:"myfont",sans-serif; 
    font-size: 82px;
}

.midashi p{
    display: flex;
    justify-content: center;
    margin-top: -5px;
    color: #683c40;
    font-weight: bold;
    font-family:"myfont",sans-serif; 
    font-size: 46px;
}


.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
   
}


.logo{
    width: 150px;
    margin-left: 30px;
}

.header_nav ul{
    display: flex;
    justify-content: center;
    gap: 100px;
    
}

.hamburger{
    width: 170px;
}
.header_nav a{
    color: #683c40;
    font-size: 20px;
    font-weight: bold;
    font-family:"筑紫A丸ゴシック",sans-serif; 
}


